.footer{
    width: 318px;
 font-size: 18px;
    padding-top: 67px;
    padding-left: 200px;
    padding-right: 762px;
    padding-bottom: 60px;
    font-family: "Inter";
    font-weight: 'Inter-Regular';
    line-height: 1.21;
    color:#545454;

}

@media screen and (max-width: 1280px) { 
.footer{
    
}
}

 

@media screen and (max-width: 800px){ 
    .footer{ 

    }
} 
@media screen and (max-width: 320px) {
    .footer{
       max-width: 320px;
    }
}